/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #2E3138;
}

nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: .75;
    opacity: .9;
    color: #fff;
}

a:hover {
    opacity: 1;
}

.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #2779A7;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}


/* Hero styles */
.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}

.hero__background-image {
    background-image: url(../images/hero.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.hero h1 {
    font: bold 60px 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
	font: normal 28px 'Lato', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px; 
}

.hero__content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade .5s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}
